<table>
    <thead>
      <th>Buyer</th>
      <th>Stock</th>
      <th>Company Name</th>
      <th>Broker</th>
      <th>Date</th>
    </thead>

    <tbody>
      <%if buyer_signed_in?%>
      <% @transactions.each do |transaction|%>
        <tr>
            <td><%= transaction.buyer.username%></td>
            <td><%= transaction.broker_stock.symbol%></td>
            <td><%= transaction.broker_stock.company_name%></td>
            <td><%= transaction.broker_stock.broker.username%></td>
            <td><%= transaction.created_at.strftime('%B %d, %Y')%></td>
        </tr>
      <%end%>
      <%else broker_signed_in?%>
        <% @broker_transactions.each do |broker_stock|%>
          <%broker_stock.each do |transaction|%>
          <tr>
            <td><%= transaction.buyer.username%></td>
            <td><%= transaction.broker_stock.symbol%></td>
            <td><%= transaction.broker_stock.company_name%></td>
            <td><%= transaction.broker_stock.broker.username%></td>
            <td><%= transaction.created_at.strftime('%B %d, %Y')%></td>
          </tr>
          <%end%>
        <%end%>
      <%end%>
    </tbody>
</table>
