<section class="flex flex-col items-center h-screen md:flex-row">
  <div class="container mx-auto">
    <div class="flex justify-center px-2 py-6 ">
      <div class="flex w-full rounded-lg xl:w-3/4 lg:w-11/12 lg:shadow-xl ">
        <div class="relative hidden w-full h-auto bg-black bg-cover border-r rounded-l-lg lg:block lg:w-6/12">
          <div class="relative z-10 m-12 text-left ">
            <a class="flex items-center w-32 mb-4 font-medium text-white title-font md:mb-10">
              <%= image_tag("logo.svg", class:"w-12 h-12") %>
              <h2 class="font-bold tracking-tighter text-white text-4xl transition duration-500 ease-in-out transform hover:text-lightBlack-500 dark:text-lightBlue-400 pl-2 pb-2"> stonks </h2>
            </a>
            <h2 class="mt-12 mb-2 text-2xl font-semibold tracking-tighter text-white sm:text-2xl title-font"> Create an account. </h2>
            <div class="w-full mt-16 mb-8 text-base leading-relaxed text-white sm:md:w-3/3 lg:text-1xl "> Stock markets are where individual and institutional investors come together to buy and sell shares in a public venue. Nowadays these exchanges exist as electronic marketplaces. </div>
          </div>
        </div>
        <div class="w-full px-8 py-24 bg-black rounded-lg border-blueGray-100 lg:w-8/12 lg:px-24 lg:py-4 lg:rounded-l-none s">
          <div class="relative z-10 text-left ">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
            <form class="mt-6" action="#" method="POST">
              <div>
                <label class="block text-base font-medium leading-relaxed text-white"><%= f.label :username %></label>
                <%= f.text_field :username, autofocus: true, autocomplete: "username",class:"w-full px-4 py-2 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-blueGray-100 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ext-black focus:border-blueGray-500",placeholder: "Username" %>
              </div>
              <div class="mt-4">
                <label class="block text-base font-medium leading-relaxed text-white"><%= f.label :email %></label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"w-full px-4 py-2 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-blueGray-100 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ext-black focus:border-blueGray-500",placeholder: "Email" %>
              </div>
              <div class="flex flex-wrap mt-4 mb-6 -mx-3">
                <div class="w-full px-3 mb-6 md:w-1/2 md:mb-0">
                  <label class="text-base font-medium leading-relaxed text-white" for="password" minlength="6"><%= f.label :password %></label>
                  <%= f.password_field :password, autocomplete: "new-password", class: "block w-full px-4 py-2 mt-2 text-base text-black transition duration-500 ease-in-out transform border-transparent rounded-lg bg-blueGray-100 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ext-black focus:border-blueGray-500", placeholder:"Your Password" %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                </div>
                <div class="w-full px-3 md:w-1/2">
                  <label class="text-base font-medium leading-relaxed text-white" for="confirm"><%= f.label :password_confirmation %><br /></label>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block w-full px-4 py-2 mt-2 text-base text-black transition duration-500 ease-in-out transform border-transparent rounded-lg bg-blueGray-100 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ext-black focus:border-blueGray-500", placeholder:"Confirm Password"  %>
                </div>
              </div>
              <%= f.submit "Sign up",class:"block w-full px-4 py-3 mt-4 font-semibold text-black transition duration-500 ease-in-out transform rounded-lg bg-indigo-500 hover:from-black to-black focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 hover:to-black mb-8" %>
            </form>
            <% end %>
            <%= link_to "Back", :back, class: "mt-3 px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-gray-900 border border-transparent rounded-md shadow-sm hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>